html {
   font-size: 18px;
}
*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
:root {
   --color-first: #f4f4f2;
   --color-second: #e8e8e8;
   --color-third: #bbbfca;
   --color-fourth: #495464;
   --font-title: 1.8rem;
   --font-subtitle: 1.4rem;
   --font-text: 1rem;
}
